.steps:not(.is-hollow) .steps-marker:not(.is-hollow) {
    background-color: #00d1b2;
}

.steps:not(.is-hollow) .steps-segment.is-active .steps-marker:not(.is-hollow) {
    background-color: #00d1b2;
}

.steps-segment::after {
    background-color: #00d1b2;
}

.circle {
    height: 70px;
    width: 70px;
    margin: 5px auto;
    background-color: #00d1b2;

    border-radius: 100px;
}

.state-count {
    line-height: 65px;
    color: #fff;
}
.field-label {
    flex-grow: 1.5;
}

.input::placeholder, .textarea::placeholder {
    color: rgba(54,54,54,.6);
}

.form-wrapper {
    border: 0.6px solid #00d1b2;
    border-radius: 5px;
    min-height: 100px;
}

.form-group-title {
    margin-bottom: 12px;
}

input[type=number] {
  -moz-appearance: textfield;
}

.select {
    width: 100%;
}

.select select:not([multiple]) {
    width: 100%;
}

.field-body > .file.is-fullwidth {
    width: 100%;
}

@media screen and (max-width: 480px) {
    .form-wrapper {
        border: none;
    }

    .form-group-title {
        text-align: center;
        border-bottom: 1px solid rgba(156, 156, 156, 0.514);
    }
}