.hero.base-gradient {
    background-image: linear-gradient(to bottom right, #86AAFF, #3DFF9B)
}

.notification {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.form-box {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    padding: 35px 3px;
    border: solid 1px #585858;
    border-radius: 7px;
}

.field {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.input::placeholder, .textarea::placeholder {
    color: rgba(54,54,54,.6);
}

.help.is-danger {
    font-size: 16px;
    background-color: #f15252;
    color: #fff;
}

.button.is-text:hover {
    background-color: transparent;
}

@media screen and (max-width: 480px) {
    .notification {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .form-box {
        width: 100%;
        background-color: #ffffff00;
    }

    h2.title {
        font-size: 38px;
    }

    .field {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
}