body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
.form-login-box {
	width: 35%;
	margin-left: auto;
	margin-right: auto;
}

.button.is-text:hover,
.button.is-text:active {
	background-color: transparent;
}

.button.wider {
	padding-right: 35px;
	padding-left: 35px;
}

.navbar-item.logout {
	background-color: #f54848;
}

.navbar-item.logout:hover {
	background-color: #ff5e5e !important;
}

.main-content {
	margin-top: 17px;
}

.has-border-right {
	border-right: 0.6px solid rgba(95, 95, 95, 0.103);
}

.card.rounded {
	box-shadow: none;
	min-height: 60px;
}

.card-header {
	box-shadow: none;
}

.card-header-title {
	display: block;
	font-weight: 450;
}

span.red {
	color: #f54848;
}

table.homepage th,
table.homepage td {
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}

.homepage#newCoupon {
	font-size: 12px;
	font-weight: 600;
	float: right;
}

.xpad-7 {
	margin-right: 7px;
	margin-left: 7px;
}

.card.coupon-modal {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
}

.coupon#couponOutput {
	font-size: 4em;
}

.spacer {
	height: 40px;
}

.footer {
	margin-top: auto;
}

.mobile-float-center {
    float: right;
}

.table.overflowable {
    overflow-x: scroll;
}

.field-label {
    flex-grow: 2;
}

.form-wrapper {
    border: none;
    border-radius: 5px;
    min-height: 100px;
}

@media screen and (max-width: 480px) {
    .mobile-center {
        text-align: center;
    }

    .mobile-float-center {
        float:none;
    }
}